@charset "utf-8";
/* CSS Document */
html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
ul{
margin:0;
box-sizing:border-box;
width:100%;
padding:0;
list-style:none;
}
a{
	text-decoration:none;
}
p{
	margin:0;
	padding:0;
}
label{
	color:black;
}
/* LOGIN */
#logincontent{
	width:100%;
	height:100%;
	display:table;
	position:fixed;
	visibility:hidden;
	z-index:10000;
}
#login{
	display:table-cell;
	vertical-align:middle;
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing:border-box;
	text-align:center;
}
#login div{
width:35%;
height:80%;
margin:auto;
text-align:center;
background:white;
padding-right:20px;
padding-top:10px;
box-sizing:border-box;
/*transition:all 1s;*/
overflow:hidden;
border-radius:7px;
max-width:450px;
max-height:600px;
}
#login div a{
	color:#999;
	font-family:'ubuntu',sans-serif;
}
#logincontent:target{
	visibility:visible;
}
#crearcuenta{
	width:120px;
	height:40px;
	background:dodgerblue;
	color:white;
	font-size:14px;
	font-family:'ubuntu',sans-serif;
}
/*#logincontent:target #login div{
	width:35%;
}*/

/* */
.titulo{

	font-family:'ubuntu', sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#34495e;
	width:205px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:2%;
	margin-bottom:2%;
}

/* LOBBY */
#lobby{
width:100%;
height:100%;
box-sizing:border-box;
background-image:url("../imagenes/lobby.jpg");
background-size:cover;
background-repeat:no-repeat;
background-position:center;
display:table;
min-height:200px;
}/*
#l_lobbyhijo{
	width:100%;
	height:92%;
	background-image:url("../imagenes/lobby.jpg");
background-size:cover;
background-repeat:no-repeat;
box-sizing:border-box;
background-position:center;
}*/
#l_menuinicial{
background-color:#242424;
height:65px;
min-height:40px;
box-sizing:border-box;
text-align:right;
position:absolute;

}
.l_elementmenu{
	display:inline-block;
	color:white;
	font-family:'ubuntu', sans-serif;
	font-weight:bold;
	margin-right:5%;
	text-align:center;
	box-sizing:border-box;
	min-width:80px;
	height:100%;
}
#l_vertical{
	width:100%;
	height:100%;
		display:table;
}
#l_vertical p{
	display:table-cell;
	vertical-align:middle;
	transition:all 0.2s;
}
#l_vertical div{
	display:table-cell;
	vertical-align:middle;
	background:#090;
}
#l_inicio{
	color:#090;
}
#l_logo{
	position:absolute;
	left:3%;
}
#l_logo2{
	margin-top:22px;
}
#l_contenteslogan{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:white;
	font-family:'ubuntu', sans-serif;
}
#l_eslogan{
	font-size:350%;
	
}
#l_botones{
	width:100%;
	height:auto;
	box-sizing:border-box;
	text-align:center;
}
#l_botones li{
	width:25%;
	height:50px;
	background:#F22613;
	display:inline-block;
	margin-left:5%;
	margin-right:5%;
	box-sizing:border-box;
	text-align:center;
	color:white;
	min-width:150px;
	margin-top:5%;
	transition:all 0.5s;
}
#l_botones li:hover{
	background:dodgerblue !important;
}
#l_botones li div{
	display:table;

	width:100%;
	height:100%;
}
#l_botones li div p{

	display:table-cell;
		vertical-align:middle;
}
#l_vertical:hover p{
	color:#090;
}
@media only screen and (max-width:850px){
	#l_eslogan{
		font-size:250%;
	}
	}
	
	
	
	
/* TRABAJOS */

#trabajos{
	width:100%;
	height:auto; /* aqui es auto */
	box-sizing:border-box;
	text-align:center;
	position:relative;
}
#t_contentrabajos{
	width:90%;
	height:100%;
	margin-left:5%;
	margin-right:5%;
	box-sizing:border-box;
	border-left:1px silver solid;
	border-right:1px silver solid;
	position:relative;
	min-height:100px;
	background:#FCFCFC;
}
input{
	border:none;
	outline:none;
	margin:0px;
	padding:0px;
	border-width:0;

}
#t_textfield{
	width:40%;
	height:40px;
	padding-left:7px;
	font-family:'ubuntu', sans-serif;
}
#t_botonbuscar{
	width:100px;
	height:40px;
	color:#242424;
	font-family:'ubuntu', sans-serif;

}
#t_contentform{
	width:100%;
	height:60px;
	background:dodgerblue;
	position:relative;
	margin-bottom:10px;
}
#t_contentform2{
	display:table;
	width:100%;
	height:100%;
	position:relative;
}
form{
	display:table-cell;
	vertical-align:middle;
	margin:0;
	padding:0;
}
#t_listatrabajos{
	width:100%;
	height:auto;
	
}
#t_listatrabajos li{
	width:100%;
	height:auto;
	border-bottom:1px silver solid;
	font-family:'ubuntu', sans-serif;
	color:#242424;
	display:table;
}
.t_elementlista{
	display:inline-block;
	width:30%;
	height:35px;
	min-width:200px;
	box-sizing:border-box !important;
	
}
@media only screen and (max-width:800px){
	.t_elementlista{
		text-align:left !important;
		width:100%;
		padding-left:20px;
	}
	#t_empresa{
		margin-top:25px;
		font-size:85%;
	}
}

#t_foto{
	width:30px;
	height:30px;
	background-image:url("../imagenes/address.png");
	background-size:cover;
	background-position:center;
	display:inline-block;
	margin-top:5px !important;
}
#t_nombre{
	width:60%;
	display:inline-block;
	padding-top:10px;
}
#t_paginacion{
	width:100%;
	height:40px;
	
	position:relative;
	margin-top:2%;
	text-align:center;
}
#t_contentvertrabajos{
	text-align:center;
	width:100%;
}
#t_vertrabajos{
width:30%;
height:40px;
margin-left:auto;
margin-right:auto;
background:#3498db;
margin-top:2%;
margin-bottom:2%;
color:white;
font-family:'ubuntu', sans-serif;
font-weight:bold;
text-align:center;
display:table;
min-width:200px;
}
#t_vertrabajos p{
	display:table-cell;
	vertical-align:middle;
}
/* PIE DE PAGINA */

#pie{
	width:100%;
	height:300px;
	background:#333;
	text-align:center;
	color:white;
	font-family:'ubuntu', sans-serif;
}
